# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response -------- #
pytz
aiohttp
requests
pyshorteners
# --- for-jio-cinema --------- #
xmltodict
requests
pyjwt
protobuf==3.20.
pyperclip
